@model Employee

@* <form method="post" asp-controller="Employee" asp-action="Create"> *@
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Employee</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Salary"></label>
            <input type="text" class="form-control" asp-for="Salary" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Department"></label>
            <input type="text" class="form-control" asp-for="Department" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="DateOfBirth"></label>
            <input type="datetime-local" class="form-control" asp-for="DateOfBirth" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="JoinDate"></label>
            <input type="datetime-local" class="form-control" asp-for="JoinDate" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="EntryDate"></label>
            <input type="datetime-local" class="form-control" asp-for="EntryDate" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>